@import "./base";
@import "./variables";
@import "./mixins";
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root{
font-size:14px;

}
body{
    margin:0;
    padding:0;
    background-color: $background-color;
    height: 100vh;
}

.header{
    width: max-content;
    margin:50px auto;
    .header-text{
        width:0;
        font-size:2rem;
        height:3rem;
        font-weight:600;
        overflow: hidden;
        white-space: nowrap;
        transition:all 2s;
        color:$font-color;
        &.show-header{
            width:100%;
        }
    }
}

.form{
    margin:2vw auto;
    width: max-content;
    display: grid;
    padding:1vw;
    grid-template-columns: minmax(0,1fr) minmax(0,2fr);
    grid-row-gap: 1vw;
    label{
        line-height: 2.5rem;
        vertical-align: middle;
        font-size:1rem;
        color:$font-color;
    }
    .input{
        outline:none;
        width:clamp(80px,25vw,300px);
        font-size: 1rem;
        line-height:1rem;
        height: 2.5rem;
        color: $font-color;
        background-color:$input-background;
        border:1px solid $base-color;
    }
    .warning{
        color:red;
        font-size:1rem;
        line-height: 1.5rem;
        height:0;
        overflow: hidden;
        transition:height 0.3s;
    }

    @include breakpoint($mobile-breakpoint){
        grid-template-columns: repeat(2, minmax(0,1fr));
        padding:3vw;
        grid-row-gap: 3vw;
        width:100%;
        .input{
            width:100%;
        }
    }
}

.submit{
    margin:1vw auto;
    width:max-content;
    .submit-button{
       @include button-styles;
    }
    .clear-button{
        @include button-styles;
        &:hover{
            background-color: salmon;
            border:2px solid salmon;
        }
    }
}


//results page 


.result-page{
    margin: 2vw auto;
    width:max-content;
    .result-header{
        text-align: center;
        color:$font-color;
    }
    .copy-alert{
        color: $font-color;
        font-style: italic;
    }
    .result-output{
        margin-top: 2vw;
        color:$font-color;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        .value{
            font-weight: 600;
            padding-left:2vw;
            transition:0.1s;
            cursor: pointer;
        }
    }
    .button-box{
        text-align: center;
        margin-top: 2vw;
    }
    .back-button{
        @include button-styles;
    }

    @include breakpoint($mobile-breakpoint){
       .result-output{
           margin-top: clamp(20px,10vw,40px);
           .value{
               padding-left: 5vw;
           }
       } 
       .button-box{
           margin-top: 10vw;
       }
    }
}

.color-code-box{
    position: absolute;
    top:0;
    right:0;
    padding: 2vw;

    .color-code{
        outline:none;
        height: 2vw;
        width:3vw;
        border:0;
        cursor: pointer;
        transition: all 0.1s;
        &.white{
            background-color: lightskyblue;
        }
        &.dark{
            background-color: black;
        }
        &.color{
            background-color: moccasin;
        }
        &:hover{
           transform:scale(1.05);
        }
        &:active{
            transform: scale(0.95);
            border:none;
        }
        @include breakpoint($mobile-breakpoint){
            height: 5vw;
            width:15vw;
        }
        
    }  
}
